<?xml version="1.0"?>
<config>
    <modules>
        <Mercadopago_Calculadorcuotas>
            <version>0.1.0</version>
        </Mercadopago_Calculadorcuotas>
    </modules>
    <frontend>
        <routers>
            <calculadorcuotas>
                <use>standard</use>
                <args>
                    <module>Mercadopago_Calculadorcuotas</module>
                    <frontName>calculadorcuotas</frontName>
                </args>
            </calculadorcuotas>
        </routers>
        <layout>
            <updates>
                <calculadorcuotas>
                    <file>calculadorcuotas.xml</file>
                </calculadorcuotas>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <calculadorcuotas_setup>
                <setup>
                    <module>Mercadopago_Calculadorcuotas</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </calculadorcuotas_setup>
            <calculadorcuotas_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </calculadorcuotas_write>
            <calculadorcuotas_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </calculadorcuotas_read>
        </resources>
        <blocks>
             <calculadorcuotas>
                <class>Mercadopago_Calculadorcuotas_Block</class>
            </calculadorcuotas>
        </blocks>
        <helpers>
            <calculadorcuotas>
                <class>Mercadopago_Calculadorcuotas_Helper</class>
            </calculadorcuotas>
        </helpers>
    </global>

</config>